{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative" style="margin-top: 5rem">

    <div class="swiper-wrapper">
      {% comment %} swiper-wrapper {% endcomment %}


  {% comment %} <div class="swiper-slide carousel-item-a intro-item bg-image" id="a2" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block5' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a1" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block1' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div> {% endcomment %}

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a9" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="https://m.land.naver.com/agency/info/jisanlove4128?tradTpCd=&atclRletTpCd=" target="_blank"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a3" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block4' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a4" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block5' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a5" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block6' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a6" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block7' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a7" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block8' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>

  <div class="swiper-slide carousel-item-a intro-item bg-image" id="a8" data-swiper-autoplay="5000">
        <div class="overlay"></div>
        <a href="{% url 'block9' %}"><div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div></a>
      </div>
  
      
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section class="section-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box" style="text-align:center;">
                

                <a href="https://dr0231585517.modoo.at/ " target="_blank "><img src="{% static 'img/대문2/분양중.jpg' %}" class="img-fluid mt-5 rounded" alt="마곡" style="width: 1100px;"></a>
                <a href="https://xn--or3b91dmzhwwci2mikh.com/block8/" target="_blank "><img src="{% static 'img/지도/8블럭 재분양 안내1.png' %}" class="img-fluid mt-5 rounded" alt="8블럭" style="width: 1100px;"></a>
                <img src="{% static 'img/대문2/향동대문.png' %}" class="img-fluid mt-5 rounded" alt="홈 안내">
                {% comment %} <img src="{% static 'img/지도/향동 홈 안내.png' %}" class="img-fluid mt-5 rounded" alt="향동 홈 안내" width="1100px" height="800px"> {% endcomment %}
                <img src="{% static 'img/대문2/홈 안내.png' %}" class="img-fluid mt-5 rounded" alt="홈 안내">

                
                <img src="{% static 'img/지도/향동위치도설면포함.png' %}" class="img-fluid mt-5 rounded" alt="향동위치도설면포함">

                
                <img src="{% static 'img/지도/향동인덱스1.png' %}" class="img-fluid mt-5 rounded" alt="향동인덱스1">

                <img src="{% static 'img/지도/향동인덱스2.png' %}" class="img-fluid mt-5 rounded" alt="향동인덱스2">
                <br>
                {% comment %} <div class="container">
                  <div class="row">
                    <div class="col-sm-12 position-relative">
                      <div class="about-img-box"> {% endcomment %}
                        <a href="https://mizrealty.modoo.at/" target="_blank "><img src="{% static 'img/지도/덕은지식산업센터.png' %}" class="img-fluid mt-5 rounded" alt="덕은지구" width="1100"></a>

                        <a href="https://o1026357136.modoo.at" target="_blank "><img src="{% static 'img/지도/마곡.png' %}" class="img-fluid mt-5 rounded" alt="마곡" style="width: 1100px;"></a>

                        <a href="https://o231585517.modoo.at/?link=7qbdz3sm" target="_blank "><img src="{% static 'img/지도/구로.jpg' %}" class="img-fluid mt-5 rounded" alt="구로" style="width: 1100px;"></a>
                        

                        <a href="https://m.land.naver.com/agency/info/dr851044?tradTpCd=&atclRletTpCd=" target="_blank "><img src="{% static 'img/대문2/네이버바로가기.png' %}" class="img-fluid mt-5 rounded" alt="지산사랑" width="1100"></a>
                      {% comment %} </div>
                      <div class="sinse-box jamsil">
                        <h3 class="sinse-title">덕은지식산업센터
                          <span></span>
                          <br> 바로가기
                        </h3>
                        <p>바로가기</p>
                      </div>
                    </div>
                  </div>
                </div> {% endcomment %}
                

              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8 jamsil">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">문의<span class="color-b">하기</span></h2>
              </div>  
            </div>

          </div>
        </div>
        <br>

          </div>
        </div>

    </section>


    <div class="container">
      <div class="row justify-content-center">
        <div class='col-md-4 col-4 col-lg-3'>
          <a href="https://xn--oy2b15bl6nb1dcwo.com/store/" target="_blank">
            <img src="{% static 'img/지도/카톡.png' %}" alt="카톡" class="img-fluid" style="width: 400px; height: auto;"></a>
        </div>
        <div class='col-md-4 col-4 col-lg-3'>
          <a href="tel:010-2635-7136" target="_blank">
            <img src="{% static 'img/지도/전화.png' %}" alt="전화" class="img-fluid" style="width: 400px; height: auto;"></a>
        </div>
        <div class='col-md-4 col-4 col-lg-3'>
          <a href="https://talk.naver.com/ct/w4a4qu" target="_blank">
            <img src="{% static 'img/지도/톡톡.png' %}" alt="톡톡" class="img-fluid" style="width: 400px; height: auto;"></a>
        </div>
      </div>
    </div>


      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="title-box" style="text-align:center;">
            <a href="tel:010-2635-7136"><img src="{% static 'img/대문2/향동폰베너메뉴.png' %}" class="img-fluid mt-5 rounded" alt="홈 안내"></a>
          </div>
          </div>
        </div>
      </div>

  </main><!-- End #main -->
  
{% endblock content%}
{% block jsv%}

{% endblock jsv%}